<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моніторинг заповідних територій</title>
    <link rel="stylesheet" href="static/css/header.css">
    <link rel="stylesheet" href="static/css/landingpage.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <header class="custom-header">
        <!-- Ліва частина: Пошук -->
        <div class="header-left">
            <div class="search-bar">
                <span class="search-icon">🔍</span>
                <input type="text" placeholder="Design">
            </div>
        </div>

        <!-- Центр: Меню -->
        <nav class="header-center">
            <ul class="nav-menu">
                <li><a href="#">Search</a></li>
                <li><a href="#">Overview</a></li>
                <li><a href="#">New reserve+</a></li>
                <li><a href="#">Color</a></li>
            </ul>
        </nav>

        <!-- Права частина: Іконки -->
        <div class="header-right">
            <span class="icon">📍</span>
            <span class="icon">⚙️</span>
            <span class="icon">🔘</span>
        </div>
    </header>

    <!-- Контейнер для карти -->

    <div id="map-container">
        <div id="map"></div>
    </div>


    <!-- Перше модальне вікно -->
    <div class="overlay" id="overlay"></div>
    <div class="modal" id="modal-1">
        <h2 id="modal-1-title"></h2>
        <p id="modal-1-description"></p>
        <div id="modal-1-fuzzy-logic"></div>
        <button id="open-modal-2">Детальніше</button>
        <button id="close-modal-1">Закрити</button>
    </div>

    <!-- Друге модальне вікно -->
    <div class="modal" id="modal-2" style="width: 500px; height: 450px;">
        <h2>Графіки для заповідника</h2>
        <canvas id="temperature-chart"></canvas>
        <canvas id="precipitation-chart"></canvas>
        <canvas id="wind-speed-chart"></canvas>
        <button id="close-modal-2">Закрити</button>
    </div>



    <script src="static/js/script.js"></script>
</body>
</html>
